
.grid1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    width: 100%;
    margin-left: 40px;
}

.cell{
    max-width: 100px;
    max-height: 100px;
    
}

.images{
    max-width: 350px;
    max-height: 350px;
    min-width: 350px;
    min-height: 350px;
    padding: 10px;
    object-fit: cover;
}